{{#if prev}}
<div id="nav" class="archive top">
<a href="/archive/{{prev.time}}/" title="(&larr;) Previous page of strips" id="prev" class="nav-prev"><i class="icon-left-open icon"></i> Previous page of strips</a>
</div><!--#nav.archive top-->
{{/if}}

<div id="page" class="page-archive">
{{#each archive}}
<div id="comic" class="archive">
	 <a href="{{ comicUrl this.time }}" title="{{ this.time }}">
	   <img src="{{ this.url }}" alt="{{ this.time }}" />
	 </a>
</div><!--#comic.archive-->
{{/each}}
</div><!--#page-->

{{#if next}}
<div id="nav" class="archive bottom">
<a href="/archive/{{next.time}}/" title="Next page of strips (&rarr;)" id="next" class="nav-next">Next page of strips <i class="icon-right-open icon"></i></a>
</div><!--#nav.archive bottom-->
{{/if}}
