{{#if prev}}
<div id="nav" class="archive top">
<a href="/archive/{{prev.time}}/" title="previous page of strips (&larr;)" id="prev" class="nav-prev"><i class="icon-left-open icon"></i> previous page of strips</a>
<a href="/archive/" class="strip-archive" title="Strip Archive (a)">archive</a>
<a href="/top/" alt="top strips" class="top-strips" title="Top Strips (t)">top strips</a>
<a href="/random/" alt="random strip" class="random" title="Random Strip (r)">.ayp me</a>
</div><!--#nav.archive top-->
{{/if}}

<div id="page" class="page-archive">
{{#each archive}}
<div id="comic" class="archive">
	 <a href="{{ comicUrl this.time }}" title="{{ this.time }}">
	   <img src="{{ this.url }}" alt="{{ this.time }}" />
	 </a>
</div><!--#comic.archive-->

<div class="strip-info">
	<!-- Strip label goes here. Time otherwise. -->
	<span class="label">{{ xmlDate this.time }}</span>
</div><!--.strip-info-->

{{/each}}
</div><!--#page-->

{{#if next}}
<div id="nav" class="archive bottom">
	<a href="/archive/" class="strip-archive" title="Strip Archive (a)">archive</a>
	<a href="/top/" alt="top strips" class="top-strips" title="Top Strips (t)">top strips</a>
	<a href="/random/" alt="random strip" class="random" title="Random Strip (r)">.ayp me</a>
<a href="/archive/{{next.time}}/" title="next page of strips (&rarr;)" id="next" class="nav-next">next page of strips <i class="icon-right-open icon"></i></a>
</div><!--#nav.archive bottom-->
{{/if}}
