<div id="page">
<div id="comic" class="strip">
<img src="{{ comic.url }}" alt="{{ comic.time }}" />
</div><!--#comic.strip-->

<div class="strip-info">
        <!-- Strip label goes here. Time otherwise. -->
        <span class="label">{{ comic.time }}</span>
</div><!--.strip-info-->


</div><!--#page-->

<div id="nav" class="strip bottom">

  <div class="pn">
{{#if comic.prev}}
  <a href="{{ comicUrl comic.prev }}" alt="Prev" id="prev" class="nav-prev" title="Previous Strip (&larr;)"><i class="icon-left-open icon"></i></a>
{{/if}}
  </div><!--.pn-->

  <!-- Voting should be doable by pressing the v key as well as by clicking the
  link. Muta_work can decide if votes are one per customer or if the ballot box
  can be stuffed to infinity and/or beyond.  Remove style="display: none;" to
  show the voting link. -->

  <a href="#vote" data-id="{{ comic.time }}" class="vote" title="(F)av & RT*"><i class="icon-star"></i><span class="number-of-votes">{{ comic.votes }}</span></a>

<a href="/archive/" class="strip-archive" title="Strip Archive (a)">archive</a>

<a href="/top/" alt="!suck" class="top-strips" title="!suck (t)">!suck</a>

<a href="/random/" alt="random strip" class="random" title="Random Strip (r)">.ayp me</a>

  <div class="pn">
{{#if comic.next}}
  <a href="{{ comicUrl comic.next }}" alt="Next" id="next" class="nav-next" title="Next Strip (&rarr;)"><i class="icon-right-open icon"></i></a>
{{/if}}
  </div><!--.pn-->
</div><!--#nav.strip-->
