{{#if prevPage}}
<div id="nav" class="archive top">
<a href="/top/{{prevPage}}/" title="Previous page of !suck (&larr;)" id="prev" class="nav-prev"><i class="icon-left-open icon"></i> Previous page of !suck</a>
<a href="/archive/" class="strip-archive" title="Strip Archive (a)">archive</a>
<a href="/top/" alt="!suck" class="top-strips" title="!suck (t)">!suck</a>
<a href="/random/" alt="random strip" class="random" title="Random Strip (r)">.ayp me</a>
</div><!--#nav.archive top-->
{{/if}}

<div id="page" class="page-archive">
{{#each top}}
<div id="comic" class="archive">
	 <a href="{{ comicUrl this.time }}" title="{{ this.time }}">
	   <img src="{{ this.url }}" alt="{{ this.time }}" />
	 </a>
</div> <!--#comic.archive-->

<div class="strip-info">
	<span class="votes"><i class="icon-star"></i><span class="number-of-votes">{{ this.votes }}</span></span>
	<!-- Strip label goes here. Time otherwise. -->
	<span class="label">{{ xmlDate this.time }}</span>
</div><!--.strip-info-->

{{/each}}
</div><!--#page-->

{{#if nextPage}}
<div id="nav" class="archive bottom">
	<a href="/archive/" class="strip-archive" title="Strip Archive (a)">archive</a>
	<a href="/top/" alt="!suck" class="top-strips" title="!suck (t)">!suck</a>
	<a href="/random/" alt="random strip" class="random" title="Random Strip (r)">.ayp me</a>
<a href="/top/{{nextPage}}/" title="Next page of !suck (&rarr;)" id="next" class="nav-next">Next page of !suck <i class="icon-right-open icon"></i></a>
</div><!--#nav.archive bottom-->
{{/if}}
